@inherits LayoutComponentBase

<div class="top-bar">
    <h1 class="neon-text">Monster-Stop</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/admin/products">Products Admin</a>
        <a href="/admin/categories">Categories Admin</a>
        <a href="/admin/suppliers">Suppliers Admin</a>
        <a href="/filterbycategory/1">Filter By Category</a>
    </nav>
</div>

<div class="transparent-panel">
    @Body
</div>
